html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 16px;
  /* the font-family property value you got from Google Fonts */
  font-family: 'DM Serif Text', serif;
  /* sets the webpage background color */
  background-color: white;
}

body {
  width: 92vw;
  margin: 5vh auto;
  background-color: #ebebeb;
  padding: 20px 20px 20px 20px;
  /*border: 5px solid black;*/
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1 {
  margin: 0;
  font-size: 60px;
  text-align: center;
  text-shadow: 2px 2px 4px #aaaaaa;
}

p,
li {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1px;
}
.center {
  display: flex;
  margin: 0;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
}
.container {
  display: flex; /* Enables Flexbox */
  flex-direction: row; /* Arranges items horizontally (default) */
  justify-content: space-between; /* Spreads items out */
  gap: 10px; /* Adds space between items */
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
}
div {
  align-items: center;
}
